.elt-container {
  margin: 10px 0;
  overflow: hidden;
  position: relative;
  background-color: white;
  height: 40px;
  border-radius: 5px;
  transition: 0.8s;

  .info-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0 70px;
    transition: 0.8s;

    h3 {
      margin: 0;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 20px;
    }

    span {
      margin-top: 50px;
      width: 100%;
      color: gray;
      font-weight: lighter;
      transition: 0.8s;
    }
  }
}

.elt-container:hover {
  height: 70px;
  margin: 20px 0;

  .info-container > span {
    margin-top: 5px;
  }
}

.elt-container-red {
  box-shadow: 1px 1px 5px black;
  color: var(--color-red);
}

.elt-container-red:hover {
  box-shadow: 1px 1px 15px var(--color-red);
}

.elt-container-green {
  box-shadow: 1px 1px 5px black;
  color: var(--color-green);
}

.elt-container-green:hover {
  box-shadow: 1px 1px 15px var(--color-green);
}

.elt-container-pink {
  box-shadow: 1px 1px 5px black;
  color: var(--color-pink);
}

.elt-container-pink:hover {
  box-shadow: 1px 1px 15px var(--color-pink);
}

.elt-container-blue {
  box-shadow: 1px 1px 5px black;
  color: var(--color-blue);
}

.elt-container-blue:hover {
  box-shadow: 1px 1px 15px var(--color-blue);
}
