.star {
  height: 20px;
  margin: 0 2px;
  * {
    transition: 0.5s;
  }
}

svg.fill-red > path {
  fill: var(--color-red);
}

svg.fill-green > path {
  fill: var(--color-green);
}

svg.fill-pink > path {
  fill: var(--color-pink);
}

svg.fill-blue > path {
  fill: var(--color-blue);
}

svg.fill-black > path {
  fill: black;
}

.elt-container:hover .star > path {
  fill: #fd3;
  filter: drop-shadow(0 0 10px #fd3);
}
