.subsection-container {
  .subsection-icon {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .subsection-title {
    text-align: center;
    width: min-content;
    margin: 8px auto 0 auto;
  }
}
