.svg-container {
  svg {
    height: 100%;
    width: auto;

    path {
      transition: 0.8s;
    }
  }
}

div:hover > .fill-red-hover path {
  fill: var(--color-red);
}

div:hover > .fill-green-hover path {
  fill: var(--color-green);
}

div:hover > .fill-pink-hover path {
  fill: var(--color-pink);
}

div:hover > .fill-blue-hover path {
  fill: var(--color-blue);
}

div:not(:hover) > .fill-red-not-hover path {
  fill: var(--color-red);
}

div:not(:hover) > .fill-green-not-hover path {
  fill: var(--color-green);
}

div:not(:hover) > .fill-pink-not-hover path {
  fill: var(--color-pink);
}

div:not(:hover) > .fill-blue-not-hover path {
  fill: var(--color-blue);
}

.fill-red path {
  fill: var(--color-red);
}

.fill-green path {
  fill: var(--color-green);
}

.fill-pink path {
  fill: var(--color-pink);
}

.fill-blue path {
  fill: var(--color-blue);
}

.logo {
  height: 50px;
  width: auto;
  position: absolute;
  top: -15px;
  left: -10px;
  transition: 0.5s;
}

.elt-container:hover {
  .logo {
    top: 10px;
    left: 10px;
  }
}
