.name_container {
  flex: 4 0 0;
  margin: 1rem;

  h1 {
    font-size: 32px;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .bar {
    background-color: black;
    height: 4px;
    border-radius: 2px;
    width: 100%;
  }

  p {
    font-weight: bold;
    font-size: 24px;
    margin-left: 32px;
    line-height: 1.5em;
  }
}
